.bgImg {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  
  }

  #bgTextLeft{
    position:absolute;
    top:30%;
    left:15%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
    white-space:nowrap;
    text-shadow: 1px 1px 0px #8fb5bc;
  }
  
  #bgTextRight{
    position:absolute;
    top:60%;
    right:3%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    white-space:nowrap;
    text-shadow: 1px 2px 0px #8fb5bc;
  
    
  }
  
  #bgTextTopRight{
    position:absolute;
    top:10%;
    right:3%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    white-space:nowrap;
    text-shadow: 1px 2px 0px #8fb5bc;
    opacity: .9;
    border-radius: 25px;
  
    
  }
  
  #rightSpan{
    padding:12px 24px!important;
    font-size:12px!important;
    animation:opac 0.8s;
  }
  
  #nameSpan{
    font-size: 60px;
    padding:10px;
  }
  
  #jobSpan{
    font-size: 40px;
    padding:10px;
  }
  
  /* Sections */
  
  .content{
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
    padding-top:64px!important;
    padding-bottom:64px!important;
  }
  
  .section{
    padding:0.01em 16px;
  }
  
  .section:after,
  .section:before{
    float:left;
    width:100%;
  }
  
  .wide{
    letter-spacing:4px;
  }
  
  .center{
    text-align:center!important;
  
  }
  .margin-right{
    margin-right:16px!important;
  
  }
  #portfolio,
  #contact,
  #about{
    position:relative;
    opacity:.80;
    
  }
  .absolute{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
  }
  .relative{
    position: relative;
  }
  
  .sectionSpan{
    font-size:60px;
    color:white;
    text-shadow: 3px 1px 0px rgb(7, 7, 7);
  
  }
  
  
  a #git:hover,
  a #linkedIn:hover {
      width: 150px;
      height: 150px;  
  }
  
  .githubInText{
    color: #8fb5bc;
    font-weight: bold;
    padding-left: 5px;
  }
  
  .githubInText:hover{
    color: #ebedee;
  }
  
  @media only screen and (max-device-width: 1600px) {
    .bgImg {
      background-attachment: scroll;
      min-height: 800px;
    }
  }
  @media (min-width:1024px){
    .bgImg {
      background-attachment: auto!important;
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
    }
    }
  
    @media (max-width:700px){
      .hide-small{
        display:none!important;
      }
    
      #bgTextLeft{
        top:30%;
        left:0%;
      }
      #nameSpan{
        font-size:30px;
      }
      #jobSpan{
        font-size:18px;
      }
    
      .iconsTop{
        font-size: 3em;
      }
      
    
      #git,
      #linkedIn {
      width: 60px;
      height: 60px;
      padding: 5px;
      }
    
      .iconsTop{
        padding:5px;
      }
    
      .fa-laptop{
        padding: 0 5px 0 5px;
      }
    
    }
    